h1 {background-color: rgb(82, 13, 82);}
h2 {background-color: rgb(2, 254, 2);}
h3 {background-color: rgb(136, 89, 0);}
a {color: red;}
a:visited {color:green;}
a:hover {color: yellow;}
.ooga {color: turquoise;}
#booga {background-color: blueviolet;}
html {font-family: Arial, Helvetica, sans-serif;}
h1 {color: orange;
font-weight: normal;
font-style: italic;}
h2 {color: orange;
font-weight: normal;
font-style: italic;}
h3 {color: orange;
font-weight: normal;
font-style: italic;}
.center {text-align: center;}
.justify {text-align: justify;}
html {background-image:url(Hunter\ S\ Thompson.jpeg) }
html {color: white;}
h4 {color: orange;
font-weight: normal;
font-style: italic;}
h5 {color: orange;
font-weight: normal;
font-style: italic;}
img{border: 10px solid black;
padding: 10px; background-color: yellow;}
