h1 {background-color: rgb(82, 13, 82);}
h2 {background-color: rgb(2, 254, 2);}
h3 {background-color: rgb(136, 89, 0);}
a:visited {color:green;}
a {color:red;}
a:hover {color:yellow;}
.ooga {color:turquoise;}
#booga {background-color:blueviolet;}
