nav ul { display: flex; list-style: none;
margin: 0;
padding: 0;}
nav li {display:block; border: 1px solid black; width: 200px;
 margin-right: 10px; background-color: red;}
nav a { display:block; color: aliceblue;
text-decoration: none; padding: 10px;}
nav a:hover {background-color: maroon; }
