.frick {color:blue;}
a {color: green;}
.frack {color: orange;}
#blue {background-color: lightblue;}
.ugh {background-color: yellow;}
.grr {color: red;}
.dad {color:yellow; background-color: green;}
.tree {background-color: lightgreen;}
h1 {color: white;}
.fuck {background-color: yellow;}
h5 {color: red;}